# Python cache
__pycache__/
*.py[cod]

# Conda / virtual environments
.venv/
venv/
env/

# Datasets
data/
project/data/

# Trained models and checkpoints
models/
*.pt
*.pth
project/checkpoints/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db